In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import datetime
import pprint
import os

In [3]:
uri = "mongodb+srv://myAtlasDBUser:Nerd1123@myatlasclusteredu.1ug3bje.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected!

In [4]:
db = client.LawCase

In [6]:
# ues $lookup to join two table
merged_case = db.Person.aggregate([
    {
        "$lookup": 
        {
            "from":"case",
            "localField":"_id",
            "foreignField":"person_id",
            "as":"Details"
        }
    }
    
])

In [5]:
db = client.sample_supplies.sales

In [8]:
db.find_one()

{'_id': ObjectId('5bd761dcae323e45a93ccfe8'),
 'saleDate': datetime.datetime(2015, 3, 23, 21, 6, 49, 506000),
 'items': [{'name': 'printer paper',
   'tags': ['office', 'stationary'],
   'price': Decimal128('40.01'),
   'quantity': 2},
  {'name': 'notepad',
   'tags': ['office', 'writing', 'school'],
   'price': Decimal128('35.29'),
   'quantity': 2},
  {'name': 'pens',
   'tags': ['writing', 'office', 'school', 'stationary'],
   'price': Decimal128('56.12'),
   'quantity': 5},
  {'name': 'backpack',
   'tags': ['school', 'travel', 'kids'],
   'price': Decimal128('77.71'),
   'quantity': 2},
  {'name': 'notepad',
   'tags': ['office', 'writing', 'school'],
   'price': Decimal128('18.47'),
   'quantity': 2},
  {'name': 'envelopes',
   'tags': ['stationary', 'office', 'general'],
   'price': Decimal128('19.95'),
   'quantity': 8},
  {'name': 'envelopes',
   'tags': ['stationary', 'office', 'general'],
   'price': Decimal128('8.08'),
   'quantity': 3},
  {'name': 'binder',
   'tags': ['school', 'general', 'organization'],
   'price': Decimal128('14.16'),
   'quantity': 3}],
 'storeLocation': 'Denver',
 'customer': {'gender': 'M',
  'age': 42,
  'email': 'cauho@witwuta.sv',
  'satisfaction': 4},
 'couponUsed': True,
 'purchaseMethod': 'Online'}

## UpdateMethods
### Update_one

In [9]:
"""the pipeline consists of a $set stage which adds the test3 field (and sets its value to 98)
 to the document and sets the modified field to the current datetime. 
 The operation uses the aggregation variable NOW for the current datetime."""
db.update_one(
    {"saleDate":datetime.datetime(2015, 3, 23, 21, 6, 49, 506000)},
    [
        {
            "$set":{"test":"test_success", "saleDate":datetime.datetime.now()}
        }
    ]
)

In [10]:
db.find_one()

{'_id': ObjectId('5bd761dcae323e45a93ccfe8'),
 'saleDate': datetime.datetime(2023, 8, 1, 11, 34, 39, 253000),
 'items': [{'name': 'printer paper',
   'tags': ['office', 'stationary'],
   'price': Decimal128('40.01'),
   'quantity': 2},
  {'name': 'notepad',
   'tags': ['office', 'writing', 'school'],
   'price': Decimal128('35.29'),
   'quantity': 2},
  {'name': 'pens',
   'tags': ['writing', 'office', 'school', 'stationary'],
   'price': Decimal128('56.12'),
   'quantity': 5},
  {'name': 'backpack',
   'tags': ['school', 'travel', 'kids'],
   'price': Decimal128('77.71'),
   'quantity': 2},
  {'name': 'notepad',
   'tags': ['office', 'writing', 'school'],
   'price': Decimal128('18.47'),
   'quantity': 2},
  {'name': 'envelopes',
   'tags': ['stationary', 'office', 'general'],
   'price': Decimal128('19.95'),
   'quantity': 8},
  {'name': 'envelopes',
   'tags': ['stationary', 'office', 'general'],
   'price': Decimal128('8.08'),
   'quantity': 3},
  {'name': 'binder',
   'tags': ['school', 'general', 'organization'],
   'price': Decimal128('14.16'),
   'quantity': 3}],
 'storeLocation': 'Denver',
 'customer': {'gender': 'M',
  'age': 42,
  'email': 'cauho@witwuta.sv',
  'satisfaction': 4},
 'couponUsed': True,
 'purchaseMethod': 'Online',
 'test': 'test_success'}

In [12]:
db.students2.insert_many( [
   { "_id" : 1, "quiz1": 8, "test2": 100, "quiz2": 9, "modified": datetime.datetime(2020,5,1,0,0,0) },
   { "_id" : 2, "quiz2": 5, "test1": 80, "test2": 89, "modified": datetime.datetime(2020,5,1,0,0,0) },
] )

In [23]:
db.students2.update_many(
    {},
    [
        {"$replaceRoot":{
            "newRoot":{"$mergeObjects":[{"quiz":0, "quiz1":1, "test":0, "test1":1}, "$$ROOT"]}
        }},
        {"$set":{"modified": datetime.datetime.now()}}
    ]
)

In [24]:
list(db.students2.find())

[{'_id': 1,
  'quiz': 1,
  'quiz1': 8,
  'test': 0,
  'test1': 1,
  'test2': 100,
  'quiz2': 9,
  'modified': datetime.datetime(2023, 8, 1, 13, 34, 59, 490000)},
 {'_id': 2,
  'quiz': 1,
  'quiz1': 1,
  'test': 0,
  'test1': 80,
  'quiz2': 5,
  'test2': 89,
  'modified': datetime.datetime(2023, 8, 1, 13, 34, 59, 490000)}]

In [ ]:
db.students3.insert_many( [
   { "_id" : 1, "tests" : [ 95, 92, 90 ], "modified" : datetime.datetime(2019,1,1) },
   { "_id" : 2, "tests" : [ 94, 88, 90 ], "modified" : datetime.datetime(2019,1,1) },
   { "_id" : 3, "tests" : [ 70, 75, 82 ], "modified" : datetime.datetime(2019,1,1) }
] )

In [31]:
list(db.students3.find())

[{'_id': 1,
  'tests': [95, 92, 90],
  'modified': datetime.datetime(2019, 1, 1, 0, 0)},
 {'_id': 2,
  'tests': [94, 88, 90],
  'modified': datetime.datetime(2019, 1, 1, 0, 0)},
 {'_id': 3,
  'tests': [70, 75, 82],
  'modified': datetime.datetime(2019, 1, 1, 0, 0)}]

In [34]:
# trunc [<被截斷的對象>,0]，0表示保留小數點0位
#  $set stage to add the grade field based on the average using the $switch expression
# set 是當原document沒有grade欄位時，新增此欄位，有grade欄位時則是更新此欄位。
db.students3.update_many(
    {},
    [
        {"$set":{"average":{"$trunc":[
            
                {"$avg":"$tests"}, 0
            ]},
        "modified":datetime.datetime.now()}},
        {
            "$set":{
                "grade":{
                    "$switch":{
                        "branches": [
                            {"case":{"$gte":["$average",90]}, "then": "A"},
                            {"case":{"$gte":["$average",80]}, "then": "B"},
                            {"case":{"$gte":["$average",70]}, "then": "C"},
                            {"case":{"$gte":["$average",60]}, "then": "D"}
                        ],
                        "default":"F"
                    }
                }
            }
        }
    ]
)

In [35]:
list(db.students3.find())

[{'_id': 1,
  'tests': [95, 92, 90],
  'modified': datetime.datetime(2023, 8, 1, 13, 45, 37, 525000),
  'average': 92.0,
  'grade': 'A'},
 {'_id': 2,
  'tests': [94, 88, 90],
  'modified': datetime.datetime(2023, 8, 1, 13, 45, 37, 525000),
  'average': 90.0,
  'grade': 'A'},
 {'_id': 3,
  'tests': [70, 75, 82],
  'modified': datetime.datetime(2023, 8, 1, 13, 45, 37, 525000),
  'average': 75.0,
  'grade': 'C'}]

In [38]:
db.temperatures.insert_many( [
  { "_id" : 1, "date" : datetime.datetime(2019,6,23), "tempsC" : [ 4, 12, 17 ] },
  { "_id" : 2, "date" : datetime.datetime(2019,7,7), "tempsC" : [ 14, 24, 11 ] },
  { "_id" : 3, "date" : datetime.datetime(2019,10,30), "tempsC" : [ 18, 6, 8 ] }
] )

In [41]:
db.temperatures.update_many(
    {},
    [
        {
            "$addFields":{
            "tempsF":{
                "$map":{
                    "input":"$tempsC",
                    "as":"celsius",
                    "in":{"$add":[{"$multiply": ["$$celsius", 9/5]}, 32]}
                }
            }
        }
        }
    ]
)

In [42]:
list(db.temperatures.find())

[{'_id': 1,
  'date': datetime.datetime(2019, 6, 23, 0, 0),
  'tempsC': [4, 12, 17],
  'tempsF': [39.2, 53.6, 62.6]},
 {'_id': 2,
  'date': datetime.datetime(2019, 7, 7, 0, 0),
  'tempsC': [14, 24, 11],
  'tempsF': [57.2, 75.2, 51.8]},
 {'_id': 3,
  'date': datetime.datetime(2019, 10, 30, 0, 0),
  'tempsC': [18, 6, 8],
  'tempsF': [64.4, 42.8, 46.4]}]

## Delete method

#### *Delete operations do not drop indexes, even if deleting all documents from a collection.

In [6]:
# delete all documents
db.temperatures.delete_many({})

In [7]:
db.students3.delete_many({"grade": "A"})

In [8]:
list(db.students3.find())

[{'_id': 3,
  'tests': [70, 75, 82],
  'modified': datetime.datetime(2023, 8, 1, 13, 45, 37, 525000),
  'average': 75.0,
  'grade': 'C'}]

### facet & bucket
##### facet: facet 能夠在一次查詢內執行多個 aggregate 並回傳結果，這樣做的好處就是來源資料只需要查詢一次。
##### bucket: 功能是幫你統計的欄位進行各別統計，而分桶的方式以及刻度都能夠自行定義，便於呈現結果。這個東西算是能夠自行訂刻度的 group，來看看它的 Pattern

In [10]:
db.facet_practice.insert_many([
  { "name": 'movie1', "publishYear": 2020, "rating": 9, "cost": 500 },
  { "name": 'movie2', "publishYear": 1988, "rating": 9, "cost": 200 },
  { "name": 'movie3', "publishYear": 1988, "rating": 6, "cost": 700 },
  { "name": 'movie4', "publishYear": 2018, "rating": 7, "cost": 800 },
  { "name": 'movie5', "publishYear": 2018, "rating": 4, "cost": 600 },
  { "name": 'movie6', "publishYear": 2019, "rating": 7, "cost": 1200 },
  { "name": 'movie7', "publishYear": 2020, "rating": 7, "cost": 700 },
  { "name": 'movie8', "publishYear": 2019, "rating": 7, "cost": 600 },
  { "name": 'movie9', "publishYear": 1988, "rating": 5, "cost": 400 },
  { "name": 'movie10', "publishYear": 2018, "rating": 7, "cost": 800 },
])

In [14]:
# 按年份統計 有幾部電影以及總成本多少?
# 按評分統計 有幾部電影以及總成本多少?

db.facet.aggregate([
    {
        "$facet":
        {
            "groupByPublisher":[
                {
                    "$group":{
                    "_id":"$publishYear",
                    "totalCount":{"$sum":1},
                    "totalCost":{"$sum":"$cost"}
                }
                }
                
                ],
            "groupbyrating": [
            
                {
                    "$group":{"_id":'$rating', "totalCount":{ "$sum": 1}, "totalCost": {"$sum":'$cost'}  }
                }
                
            ]
        }
    }
     
   
                     
                ]
                 
            
            
            )

In [18]:
# bucket
# 幫你統計的欄位進行各別統計，而分桶的方式以及刻度都能夠自行定義，便於呈現結果。

list(db.aggregate([

    {  "$bucket":
     {
        "groupBy":"$publishYear",
        "boundaries":[1988,2000,2010,2020],
        "default":"others",
        "output":{
            "totalCount": {"$sum":1},
            "names": {"$push":"$name"}
    }
        
        }
    }
]))

[{'_id': 'others', 'totalCount': 5000, 'names': []}]